[Desktop Entry]
Type=Application
Name=AnimationMaker
Exec=animationmaker
Icon=animationmaker.svg
Comment=AnimationMaker - quicly build animations
Terminal=false
Version=1.0
Categories=Graphics;
